@tailwind base;
@tailwind components;
@tailwind utilities;

$font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;

html {
  --grey-100: #333;

  font-size: 100%; // = 16 pixels in most browsers
  font-family: $font-stack;
  color: var(--grey-100);

  @media (min-width: 768px) {
    font-size: 112.5%; // = 18 pixels in most browsers
  }
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
